/* frontend/src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7f6;
}

:root{
  --primary:#0d6efd;
  --bg:#f4f7f6;
  --card:#ffffff;
  --muted:#6c757d;
}

.card, .bg-light {
  background: var(--card) !important;
}

.rounded-4 { border-radius: 1rem !important; }
.shadow-sm { box-shadow: 0 4px 14px rgba(18,24,30,0.06) !important; }

.font-sans { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}